.gradle
.idea
.git
/gradle
app.jks
gradlew
gradlew.bat
local.properties
settings.gradle
/app/build
/app/libs
/app/release
/app/.gitignore
/app/build.gradle
/app/proguard-rules.pro
/app/src/androidTest
/app/src/test
/app/src/main/res
